<div class="container">
<h2>Champions</h2>

</div>


<mat-grid-list cols="3" gutterSize="25">

  <ng-template ngFor let-champ [ngForOf]="champs" let-i="index">
    <mat-grid-tile>
      <div class="card">
        <img src="{{champ.iconFile}}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{champ.name}}</p>
        </div>
      </div>
    </mat-grid-tile>
  </ng-template>


  <ng-template ngFor let-champ [ngForOf]="champs" let-i="index">
      <mat-grid-tile>
        <div class="card">
          <img src="{{champ.iconFile}}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">{{champ.name}}</p>
          </div>
        </div>
      </mat-grid-tile>
    </ng-template>
    <ng-template ngFor let-champ [ngForOf]="champs" let-i="index">
        <mat-grid-tile>
          <div class="card">
            <img src="{{champ.iconFile}}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">{{champ.name}}</p>
            </div>
          </div>
        </mat-grid-tile>
      </ng-template>
      <ng-template ngFor let-champ [ngForOf]="champs" let-i="index">
          <mat-grid-tile>
            <div class="card">
              <img src="{{champ.iconFile}}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">{{champ.name}}</p>
              </div>
            </div>
          </mat-grid-tile>
        </ng-template>
        <ng-template ngFor let-champ [ngForOf]="champs" let-i="index">
            <mat-grid-tile>
              <div class="card">
                <img src="{{champ.iconFile}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">{{champ.name}}</p>
                </div>
              </div>
            </mat-grid-tile>
          </ng-template>
          <ng-template ngFor let-champ [ngForOf]="champs" let-i="index">
              <mat-grid-tile>
                <div class="card">
                  <img src="{{champ.iconFile}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">{{champ.name}}</p>
                  </div>
                </div>
              </mat-grid-tile>
            </ng-template>
            <ng-template ngFor let-champ [ngForOf]="champs" let-i="index">
                <mat-grid-tile>
                  <div class="card">
                    <img src="{{champ.iconFile}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">{{champ.name}}</p>
                    </div>
                  </div>
                </mat-grid-tile>
              </ng-template>
              <ng-template ngFor let-champ [ngForOf]="champs" let-i="index">
                  <mat-grid-tile>
                    <div class="card">
                      <img src="{{champ.iconFile}}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">{{champ.name}}</p>
                      </div>
                    </div>
                  </mat-grid-tile>
                </ng-template>
                <ng-template ngFor let-champ [ngForOf]="champs" let-i="index">
                    <mat-grid-tile>
                      <div class="card">
                        <img src="{{champ.iconFile}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">{{champ.name}}</p>
                        </div>
                      </div>
                    </mat-grid-tile>
                  </ng-template>
                  <ng-template ngFor let-champ [ngForOf]="champs" let-i="index">
                      <mat-grid-tile>
                        <div class="card">
                          <img src="{{champ.iconFile}}" class="card-img-top" alt="...">
                          <div class="card-body">
                            <p class="card-text">{{champ.name}}</p>
                          </div>
                        </div>
                      </mat-grid-tile>
                    </ng-template>

</mat-grid-list>









<!--
<ul>
  <ng-template ngFor let-champ [ngForOf]="champs" let-i="index">

  </ng-template>
</ul>
-->
