<!--
<mat-grid-list cols="2" class="header mat-app-background" rowHeight="fit" >
    <mat-grid-tile><button (click)="sidenav.toggle()">Toggle</button></mat-grid-tile>
    <mat-grid-tile>Hallo Welt!</mat-grid-tile>
</mat-grid-list>
<mat-toolbar>
    <span><button (click)="sidenav.toggle()" class="btn btn-primary">Toggle</button></span>
    <span>Hallo Welt!</span>
</mat-toolbar>
-->
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand homeButton" (click)="sidenav.toggle()"><mat-icon style="color: white;">list</mat-icon></a>
  <span class="navbar-brand" href="#">TFTeammate</span>
</nav>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidenav" mode="over">
    <mat-nav-list role="list">
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action" routerLink="/champs" (click)="test()" (click)="sidenav.toggle()">Champions</button>
        <button type="button" class="list-group-item list-group-item-action" routerLink="/items" (click)="test()" (click)="sidenav.toggle()">Items</button>
        <button type="button" class="list-group-item list-group-item-action" routerLink="/elements" (click)="test()" (click)="sidenav.toggle()">Elemente</button>
        <button type="button" class="list-group-item list-group-item-action" routerLink="/properties" (click)="test()" (click)="sidenav.toggle()">Eigenschaften</button>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>

